.tools{
    width: 100%;
    background-color: #2f5d72ca;
    text-align: center;
    a{
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 15px;
    }
    a:hover {
        background-color: rgb(185, 77, 162);
      }
    }
