<div class="row">
  <div class="col-4">
    <form #auth = "ngForm" (ngSubmit) = "onSubmit(auth)">
      <div class="form-group" >
        <label for="email">E-mail</label>
        <input type="email" class="form-control" name="email" ngModel required />
      </div>
      <div class="Password">
        <label for="email">Hasło</label>
        <input type="password" class="form-control" name="password" ngModel required minlength="6"/>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" type="submit" [disabled] = "!auth.valid">
          {{ mode ? "Zaloguj" : "Zarejestruj" }}
        </button>
        |
        <button class="btn btn-primary" (click)="onMode()" type="button">
          Przejdź do {{ mode ? "Rejestracji" : "Logowania" }}
        </button>
      </div>
    </form>
  </div>
  <div class="col-8">
    <h1>Witaj!</h1>
    <h2>Zaloguj się, lub zarejestruj by korzystać z aplikacji</h2>
  </div>
</div>
